PORT=5000
MONGODB_URI=mongodb://localhost:27017/om_dental_clinic
CLINIC_EMAIL=ahiredhiraj213@gmail.com
CLINIC_NAME=Shree Dental Clinic
DOCTOR_NAME=Dr. Pravin Pawar

# Email Dispatch Configuration:
# To send live emails via Gmail, create a 16-character Google App Password from:
# https://myaccount.google.com/apppasswords
EMAIL_SERVICE=gmail
EMAIL_USER=ahireraj213@gmail.com
EMAIL_PASS=yglr wfzf jbnp hdyh

